@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #5867e1;
  --color-secondary: #2a2a2a;
}

::selection {
  background-color: #5867e1;
  color: #f7f7f7;
}

.work-span:nth-child(4n + 2),
.work-span:nth-child(4n + 3) {
  grid-column: span 6;
}
